/* Desktop Screen */
.post {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 100px auto auto;
    height: 100vh;
    width: 90%;
    margin: 90px auto;
}

/* Mobile & tablet Screen */
@media (max-width:884px) {

    .post {
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto;
        height: 100vh;
        width: 90%;
        margin: 0 auto;
    }

    header,
    main,
    footer {
        grid-column-start: span 3;
    }
}

header {
    grid-column-start: span 3;
}

main {
    grid-column-start: span 3;
    margin-top: 0px;

}

footer {
    grid-column-start: span 3;
    margin-top: 50px;
}


.article p {
    font-size: 18px;
    text-align: center;
    font-weight: 800;
}

/* Base Post Page */
.post-title {
    margin-bottom: 0px;
    text-align: center;
}

.profile {
    padding: 20px;
    font-weight: 700;
}

.profile img {
    border-radius: 100%;
    width: 90px;
    height: 90px;
    margin-top: 5px;
}

.download {
    margin-top: 100px;
    margin-bottom: 15px;
    padding: 25px;
}
/* End Styling Base Post Page */