* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg: white;
    --FGColor: whitesmoke;
    --text: black;
    --textSoft: lightblue;
    --button: blue;
    --link: blue;
    --hover:#7882ee;
    --footer:black;
}

body.light {
    
    --bg: #2b2d31;
    --FGColor: #3c3f44;
    --text: white;
    --textSoft: white;
    --button:gold;
    --link:#098fd4;
    --hover:gold;
    --footer:white;

}

body {
    background: var(--bg);
    font-family: "Cairo", sans-serif;
}

/* Desktop Screen */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px auto auto;
    height: 100vh;
    width: 60%;
    margin: auto auto;
}

/* Default */
header {
    grid-column-start: span 4;
}

main {
    margin-top: 50px;
    grid-column-start: span 3;
}

aside{
    margin-top: 50px;
    grid-column-start: span 1;
    text-align: center;
    grid-column-start: span 1;
    color: var(--text);
    padding: 5px;
    position: sticky; 
    top: 50px; 
    align-self: start; 
}

footer{
    grid-column-start: span 4;
    text-align: center;
    margin-top: 25px;
    padding: 20px;
}

a,i {
    text-decoration: none;
    color: var(--text);
}

ul li a:hover {
    color:var(--hover);

}
.fa-solid.fa-circle-half-stroke:hover {
    color:var(--hover);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#github:hover{
    color:var(--hover);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

p,h1,h2,h3,h4,h5,small,label,span,li,time,code {
    color: var(--text);
}

select{
    background-color: var(--FGColor);
    border: transparent;
    color: var(--text);
    text-align: center;
    padding: 5px;
}

select:hover {
    background-color: #f0f0f0; 
    color: #333; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* End Default */

/* Custom */
#card{
    border-radius: 0px;
    padding: 12px;
}

.artical{
    border-radius: 5px;
    justify-content: left;
    text-align: left;
    display: flex;
    margin-top: 100px;
}

.listItem{
    margin-bottom: 10px;
}

.pagination{
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}

.page-item{
    border: 0px solid var(--button);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.page-link{
    color: var(--text)
}

.page-item.active{
    background-color: var(--FGColor);
    color: black
}

.page-item.disabled{
    background-color: var(--FGColor);
    cursor: not-allowed;
    border: 2px solid transparent

}
/* End Custom */

/* Mobile % Tablet Screen */
@media (max-width:884px) {

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto auto;
        height: 100vh;
        width: 100%;
        margin: 0 auto;
        padding: 25px;
    }
    header,
    main,
    aside,
    footer {
        grid-column-start: span 4;
    }
}