/* Base Post Page */

article p{
    margin-top: 40px;
    margin-bottom: 50px;
}

.prevImage img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.profile {
    padding: 20px;
}

.profile img {
    border-radius: 100%;
    width: 90px;
    height: 90px;
}

.download {
    margin-top: 100px;
    margin-bottom: 15px;
    padding: 25px;
}
/* End Styling Base Post Page */