.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 50%;
    margin: auto auto auto;    
}

article {
    text-wrap: wrap;
    margin-bottom: 25px;
    padding: 25px;

}

.Video iframe {
    width: 100%; 
    height: auto;
}


main{
    grid-column-start: span 4;
}

aside{
    margin-top: 100px;
    grid-column-start: span 4;
    text-align: center;
    color: var(--h);
    position: sticky; 
    top: 50px; 
    margin-left: 25px;
    margin-right: 25px;
    align-self: start; 
    display: block;
}

.prevImage img{
    width: 80%;
    height: 100%;

}

h1,h2,h3,h4,h5,h6{
    margin-top: 8px;
    margin-bottom: 8px;
}

.Video iframe {
    height: 500px;
    width: 100%;
    padding: 20px;
}

.download{
    margin-top: 50px;
}

.code-contnet{
    font-size: clamp(1rem,1rem,1rem);
}

/* lg */
@media (max-width: 1280px) {
   
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        width: 70%;
    }

    main,aside{
        grid-column-start: span 3;
    }
}

@media (max-width: 1024px) {
   
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        width: 100%;
    }

    main{
        grid-column-start: span 3;
    }

    aside{
        grid-column-start: span 3;
    }
}
/* lg */


/* Mobile */

@media (max-width: 700px) {

    .container {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: auto 1fr auto;
         height: 100vh;
         width: 100%;
    }

    main{
        grid-column-start: span 3;
    }

    aside{
        grid-column-start: span 3;
    }
}

/* Mobile */




