<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title}}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="/assets/css/globals.css">
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="shourtcut icon" type="x-icon" href="/assets/images/ico.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
</head>
<body class="light">
    <div class="container">

        <header>
            {{partial "navbar" .}}
        </header>

        <main>
            {{block "main" .}} {{ end }}
        </main>

        <footer>
            {{partial "footer" .}}
        </footer>

    </div>
    <script src="{{ "/assets/js/copycode.js" | relURL }}"></script>
    <script src="{{ "/assets/js/SetTheme.js" | relURL }}"></script>
    <script src="{{ "/assets/js/RandomBG.js" | relURL }}"></script>


</body>
</html>