{{ define "main" }}

<div class="article">

    <h1 style="margin-bottom: 25px;">
        {{ i18n "posts" }}
        <hr width="300px">

    {{ range .Paginator.Pages }}
    <div class="listItem">
        <div class="title">
            <a href={{.Permalink}}>{{.Title}}</a>
        </div>
        <small>{{ i18n "by" }}</small> <a href="{{ "/authors/" | relURL }}{{ .Params.author | urlize }}">{{ .Params.author }}</a>
        <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
    </div>
    {{ end }} 
    {{ template "_internal/pagination.html" . }}
</div>

{{ end }}
