{{ define "main" }}

{{ range .Paginator.Pages }}
    {{ if eq .Params.lang $.Site.Language.Lang }} <!-- Check if the post language matches the current site language -->
        {{ if eq .Type "post" }} 
            <div class="timeline-container">
                <div class="timeline">
                    <ul>
                        <li>
                            <div class="timeline-contnet">

                                <small>
                                <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
                                </small>

                                <h1>
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                </h1>
                                
                                <p>
                                    {{ .Content | truncate 200 "..." }}
                                </p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        {{ end }}
    {{ end }} 
{{ end }} 

{{ template "_internal/pagination.html" . }}

{{ end }}
