{{ define "main" }}

    <head>
        <link rel="stylesheet" href="{{ "/assets/css/post.css" | relURL }}">
    </head>

    <body>

        <article class="article" id="card">

            <h2 class="title"> {{ .Title}}</h2>

            {{/*  <p>
                <h4><a href="https://github.com/emadadel4">{{ .Params.author }}</a></h4>
            </p>  */}}

            <p style="margin-bottom: 20px;">
                <time>{{ dateFormat .Site.Params.dateFormat .Date}}</time>
            </p>

            <hr style="margin-bottom: 18px;">

            <p>{{ .Content}}</p>            
        </article>
    </body>

{{ end }}
