{{define "main"}}

        <article class="article" id="card">
            
            <h1 class="title"> {{ .Title}}</h1>
           
            <small>
                <time>{{ dateFormat .Site.Params.dateFormat .Date}}</time>
                <small>by</small> <a href="{{ "/authors/" | relURL }}{{ .Params.author | urlize }}">{{ .Params.author }}</a>
            </small>

            <hr style="margin-bottom: 25px;">

            <p>
                {{ .Content}}            
            </p>

            <!-- <section class="profile" id="card">
                <h2>{{ i18n "author" }}</h2>
                <h3>
                    <a href="https://t.me/emadadel4">{{ i18n "website" }}</a>
                </h3>

                <img src="{{ .Params.avatar }}" alt="{{ .Params.name }}">
                <p>
                    {{ i18n "bio" }}
                </p>
                <div class="links">
                    <a href="https://t.me/emadadel4"><i class="fa-brands fa-telegram"></i></a>
                    <a href="https://github.com/emadadel4"><i class="fa-brands fa-github"></i></a>
                </div>
            </section> -->

        </article>

{{end}}

