{{define "main"}}
    <main>
        <article class="post-content" style="margin-top: 100px;" id="#">

            <h2>
                {{ .Title}}
            </h2>
            <small>
                <time>{{ dateFormat .Site.Params.dateFormat .Date}}</time>
                <small>by</small> <a href="{{ "/authors/" | relURL }}{{ .Params.author | urlize }}">{{ .Params.author }}</a>
            </small>
                <p>
                    {{ .Content}}
                </p>

            <section class="profile" id="card">
                <h2>{{ i18n "author" }}</h2>
                <h3>
                    <a href="https://t.me/emadadel4">{{ i18n "website" }}</a>
                </h3>

                <img src="{{ .Params.avatar }}" alt="{{ .Params.name }}">
                <p>
                    {{ i18n "bio" }}
                </p>
                <div class="links">
                    <a href="https://t.me/emadadel4"><i class="fa-brands fa-telegram"></i></a>
                    <a href="https://github.com/emadadel4"><i class="fa-brands fa-github"></i></a>
                </div>
            </section>
    </article>
    </main>
{{end}}

