body {
    font-family: "Cairo", sans-serif;
}

a {
    text-decoration: none;
    color: var(--link);
}

p,h1,h2,h3,h4,h5,small,label,span {
    color: var(--clr-dark);
}

#card{
    background-color: whitesmoke;
}

.code-block {
    position: relative;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #0056b3;
}
