:root{
    --bg: white;
    --FGColor: whitesmoke;
    --text: black;
    --textSoft: lightblue;
    --button: #525FE1;
    --link: #525FE1;
    --footer:black;
}


body.light {
    
    --bg: #121212;
    --FGColor: #282828;
    --text: white;
    --textSoft: white;
    --button:#1DB954;
    --link:#1DB954;
    --footer:white;

}

* {
    box-sizing: border-box;
}

html, body {
    font-family: "Cairo", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    width: 100%;
    height: 100%;
}

body {
    background: var(--bg);
    z-index: 0;
    position: relative; /* Ensure the body is the relative container for the pseudo-element */
}

body::before {
    content: "";
    position: fixed;
    top: -10px; /* Expand beyond the viewport */
    left: -10px; /* Expand beyond the viewport */
    width: calc(100% + 20px); /* Expand beyond the viewport */
    height: calc(100% + 20px); /* Expand beyond the viewport */
    background: var(--bg); /* Use the background variable */
    background-size: cover;
    filter: blur(0px);
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.content {
    position: relative;
    z-index: 1;
}



/* Desktop Screen */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto auto;
    height: 100vh;
    width: 55%;
    margin: auto auto;
    padding: 20px;
    
}

/* Default */
header,footer {
    grid-column-start: span 3;

}

main {
    grid-column-start: span 3;
    margin-bottom: 50px;
}


footer{
    text-align: center;
    padding: 50px;
}

a,i {
    text-decoration: none;
    color: var(--link);
}

p,h1,h2,h3,h4,h5,small,label,span,li,time,code {
    color: var(--text);
}
/* End Default */

/* Custom */
#card{
    background-color: var(--FGColor);
    border-radius: 0px;
    padding: 12px;
}

.code-block code {
    font-size: 20px;
    font-family: "Cairo", sans-serif;
  

}

.code-block {
    position: relative;
    border: 2px solid var(--FGColor);
    padding: 15px;
}

.copy-button {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px;
    background-color: var(--button);
    color: #fff;
    border: none;
    cursor: pointer;
    align-content: center;
    border-radius: 20px;
}

.copy-button:hover {
    background-color: #0056b3;
}

.artical{
    border-radius: 5px;
    justify-content: left;
    text-align: left;
    display: flex;
    margin-top: 100px;
}

.listItem{
    margin-top: 15px;
    margin-bottom: 15px;
}

.pagination{
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}

.page-item{
    border: 2px solid var(--button);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.page-link{
    color: var(--textSoft)
}

.page-item.active{
    background-color: var(--button);
    color: black
}

.page-item.disabled{
    background-color: gray;
    cursor: not-allowed;
    border: 2px solid transparent

}

/* End Custom */


/* Mobile % Tablet Screen */
@media (max-width:884px) {

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        height: 100vh;
        width: auto;
        margin: auto auto;
    }
    header,
    main,
    footer {
        grid-column-start: span 3;
    }
}