
article {
    width: 95%;
    text-wrap: wrap;
    background-color: var(--FGColor);
    margin-bottom: 25px;
    padding: 25px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.1);

}

.prevImage img{
    width: 80%;
    height: 100%;

}

h2{
    margin-top: 8px;
    margin-bottom: 8px;
}

.Video iframe {
    height: 500px;
    width: 100%;
    padding: 20px;

}

.download{
    margin-top: 50px;
}

.code-contnet{
    font-size: 20px;
}

@media (max-width: 768px) {
    .Video iframe {
        width: 100%; 
        height: auto;
    }
}