/* Base Post Page */
.post-title {
    margin: 15px;
    
}

article p{
    margin-top: 40px;
    margin-bottom: 50px;
}

article img{
    height: auto;
    width: 444px;
    margin-bottom: 50px;
}

.profile {
    padding: 20px;
}

.profile img {
    border-radius: 100%;
    width: 90px;
    height: 90px;
}

.download {
    margin-top: 100px;
    margin-bottom: 15px;
    padding: 25px;
}
/* End Styling Base Post Page */