/* Base Post Page */

article p{
    margin-top: 40px;
    margin-bottom: 50px;
}

article img{
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 20px;
}

.profile {
    padding: 20px;
}

.profile img {
    border-radius: 100%;
    width: 90px;
    height: 90px;
}

.download {
    margin-top: 100px;
    margin-bottom: 15px;
    padding: 25px;
}
/* End Styling Base Post Page */