<div>

    <div class="widget">
        <h4>Suggested videos</h4>
        <iframe src="https://www.youtube.com/embed/UcyNg1B8FJI" title="Average MIDDLE EAST Fighter" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>


    <div class="widget">
        <h4>How to use ITT</h4>
        <iframe src="https://www.youtube.com/embed/QmO82OTsU5c" title="Install multiple Programs at once on Windows 11/10 - تفعيل الويندوز" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
   
</div>
