<nav>
    <div class="logo">
        <h5>
        </h5>
        <a href="https://www.egyptianrc.org/Arabic/home">
            <img src="/assets/images/ps.png" width="40" alt="">
        </a>
        <a href="{{ "/" | relLangURL }}">EPROJECTS</a>
    </div>
    <ul>
        <li>
            <a href="{{ "/" | relLangURL }}">{{ i18n "home" }}</a>
        </li>
        <li>
            <a href="{{ "/authors/emadadel/" | relLangURL }}">{{ i18n "about" }}</a>
        </li>
        
        <li>
            {{ range $.Site.Home.AllTranslations }}
            <li><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
            {{ end }}
        </li>
        <li><a href="https://github.com/emadadel4" target="blank" ><i class="fa-brands fa-github"></i></a>
        <li class="theme-toggle">
            <i class="fa-solid fa-circle-half-stroke"></i>
        </li>
  
    </ul>
    <a href="#" class="mobile">&#9776;</a>
</nav>