<nav>
    <div class="logo">
        <h5>
        </h5>
        <a href="https://www.egyptianrc.org/Arabic/home">
            <img src="/images/ps.png" width="40" alt="">
        </a>
        <a href="https://emadadel4.github.io/">EPROJECTS</a>
    </div>
    <ul>
        <li>
            <a href="/authors/emad-adel/">About</a>
        </li>
        <li>
            <a href="/">Homepage</a>
        </li>
        <li><a href="https://github.com/emadadel4" target="blank" ><i class="fa-brands fa-github"></i></a>
        <li class="theme-toggle">
            <i class="fa-solid fa-circle-half-stroke"></i>
        </li>
    </ul>
    <a href="#" class="mobile">&#9776;</a>
</nav>