<nav class="navbar">
    <div class="navbar-overlay" onclick="toggleMenuOpen()"></div>

    <button type="button" class="navbar-burger" onclick="toggleMenuOpen()">
        <span class="material-icons">menu</span>
    </button>

    <h1 class="navbar-title">
        
        <a href="https://github.com/emadadel4">
            <i class="fa-brands fa-github" id="github"  style="transition: color 0.3s;"></i>
        </a>
    
        
        <a href="{{ "/" | relLangURL }}">Emad Adel</a>


        <select onchange="window.location.href=this.value" style="transition: background-color 0.3s, color 0.3s;">
            {{ $currentLang := .Site.Language.Lang }}
            {{ range $.Site.Home.AllTranslations }}
                {{ if eq .Language.Lang $currentLang }}
                    <option value="{{ .RelPermalink }}" selected>{{ .Language.LanguageName }}</option>
                {{ else }}
                    <option value="{{ .RelPermalink }}">{{ .Language.LanguageName }}</option>
                {{ end }}
            {{ end }}
        </select>
    
    </h1>

  

    <nav class="navbar-menu">


        <button type="button" id="theme-toggle"><i class="fa-solid fa-circle-half-stroke" style="transition: color 0.3s;"></i></button>

    </nav>

</nav>